@import "style.scss";

.header-container{
  background-color: #313131;
  font-family: Oswald, serif;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

    #theme-switch{
      width: 4vw;
      height: 3vw;
      border-radius: 10%;
      border: none;
      background-color: #313131;

        &:hover{
          cursor: pointer;
        }

        svg{
          &:last-child{
            display: none;
          }
        }
    }
}

.lightmode #theme-switch svg:first-child{
  display: none;
}

.lightmode #theme-switch svg:last-child{
  display: block;
}
