:root {
    font-size: 10px;
    --bg-color:#252324;
    --main-color:#863939;
    --font-color:#ffffff;
    --third-color:#252324;
    --text-color:#ffffff;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    list-style: none;
    -webkit-user-drag: none;
    font-size: 1.6rem;
    color: #fff;
}

body html{
    width: 100vw;
    height: 100vh;
}

.light_mode{
    --bg-color:#C93636;
    --main-color:#FFEBD1;
    --third-color:#FFEBD1;
    --text-color:#863939;
}

.container{
    background: var(--bg-color);
    display: grid;
    grid-template-areas:
     "header header header"
     "first_page sec_page third_page"
     "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;

        header {
            grid-area: header;
        }

        footer {
            grid-area: footer;
        }

        .first_page{
            grid-area: first_page;
        }

        .sec_page{
            grid-area: sec_page;
        }

        .third_page{
            grid-area: third_page;
        }

}

